body {
	font-size: 16;
}


#header {
/*	background-color: rgb(244, 212, 207);
*/
	float: center;
	position: fixed;
	top: 0px;
	padding: 10px;
	margin: 0px;
	width: 100%;
	background-color: rgb(244, 244, 244);
	border-bottom: 1px solid;	
}

.programs {
	margin-top: 220px;
	/*background-color: rgb(220, 208, 192);*/
}

h1 {
	font-family: georgia;
}

ol {
	font-size: 1.5em;
}

ul {
	font-size: 1.5em;
}


p {
	font-size: 1em;
	padding-left: 25px;

}

h3 {
	font-size: 1.8em;
	color: dodgerblue;
}

.externalsites {
	font-family: arialblack;
	font-size: 1.5em;
	padding: 15px;
	
}

#esite1, #esite2, #esite3, #esite4 {
	margin-left: 10px;
	margin-right: 10px;
}



a:link {
	text-decoration: none;
}

a:visited {
	color: rgb(118, 50, 63);
}

a:hover {
	color: rgb(137, 183, 245);
	
}
